@CHARSET "UTF-8";

form#periodEditor div.datePicker {
	float: left;
	margin-right: 12px;
	width: 160px;
}

form#periodEditor div.datePicker input {
	width: 130px;
	margin-right: 6px;
}

div.formItem.columnHeader {
	overflow: hidden;
	margin-left: 160px;
	width: 382px;
}

div.columnHeader span {
	font-size: 11px;
	font-weight: bold;
	width: 160px;
	margin-right: 12px;
}

form#courseRegistration input.personalID {
	width: 90px;
	margin-right: 12px;
}

form#courseRegistration input.userResults {
	width: 230px;
}

form#courseRegistration input.inactive {
	font-style: italic;
	background-color: #fff0cc;
}

form#courseRegistration div.columnHeader span {
	width: 90px;
	margin-right: 16px;
}

div.formItem select.bigSelectionBox {
	width: 360px;
	height: 280px;
}

div.formItem textarea.messageArea {
	width: 360px;
	height: 280px;
}

table.parentAllocation {
	width: 542px;
}

table.parentAllocation tr th, table.parentAllocation tr td {
	padding: 2px 5px;
}

table.parentAllocation tr th {
	text-align: left;
}

table.parentAllocation tr.paidAllocation td {
	color: #f09e00;
}

ul.legend li.paidAllocation {
	color: #f09e00;
}

table.adminTable tr td.copy, table.adminTable tr th.copy {
	text-align: center;		
}

table.parentAllocation tr td input {
	width: 60px;
	font-size: 11px;
}

div#parentAllocationOverviewSection div.attention {
	margin-top: 0;
	margin-bottom: 20px;
}

table.adminTable tr td.costsCount, table.adminTable tr th.costsCount,
table.adminTable tr td.costsAmount, table.adminTable tr th.costsAmount,
table.adminTable tr td.allocationCount, table.adminTable tr th.allocationCount,
table.adminTable tr td.allocationAmount, table.adminTable tr th.allocationAmount {
	text-align: right;
}

table.parentAllocation tr td.closedCourse {
	text-align: center;
	color: #c00;
}

p.nonRemoved {
	color: #f00;
}

th.applicationViewHeader {
	text-align: center !important;
}

th.applicationApproveHeader {
	text-align: center !important;
}

th.applicationRejectHeader {
	text-align: center !important;
}

td.applicationViewBody {
	text-align: center !important;
}

td.applicationApproveBody {
	text-align: center !important;
}

td.applicationRejectBody {
	text-align: center !important;
}

/* Employee editor */

table.employeeTable tbody tr td, table.employeeTable thead tr th {
	padding: 5px 8px;
	empty-cells: show;
	text-align: left;
	white-space: nowrap;
}


table.employeeTable thead tr th {
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}

table.employeeTable tbody tr td {
	border-bottom: 1px #ccc solid;
}

table.employeeTable tbody tr.ruled {
	background: #dfdfdf;
}

.Clear{
	clear: both;
	border-top: 1px solid #fff;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

div.servicesFormItem {
	float: left;
}

div.formLabel {
	color: #222222;
	font-weight: bold;
	width: 160px;
}

div.servicesFormValues {
}

ul.servicesList {
	list-style: none;
}